.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.subHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  flex: 0 1 60px;

  &__title {
    margin-right: 10rem;
  }

  &__limit {
    min-width: 100px;
  }

  &__selectors {
    > * {
      margin-right: 1.5rem;
    }
  }
}
